html{
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, p, ol, ul{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body{
	background: #212529;
	height: 2000px;
}

ol,ul{
	list-style: none;
}

img{
	max-width: 100%;
	height: auto;
}

a:hover{
	text-decoration: none;
}

body{
	color: #26313c;
	line-height: 1.5;
}


ul{
	margin: 0;
	padding: 0;
}

.header{
	position: relative;
	transition: all 0.7s;
	z-index: 9;
}

.header .logo{
	margin: 0;
	padding: 16px 0;
}

.header .logo a,
.header .logo a img{
	display: block;
}

.header .logo img{
	width: 190px;
}

.header .menu ul{
	display: flex;
}

.header .menu li{
	padding: 16px;
}

.header .menu a{
	font-size: 1.2rem;
	color: white;
	padding: 8px;
	display: block;
	text-transform: uppercase;
}

.header .menu a:hover{
	color: #24cdd5;
}

