.mainheader h2 {
  font-size: 20px;
  font-family: Cabin;
  letter-spacing: 2px;
  line-height: 1.3em;
  color: black;
  align-items: center;
}

#navbar-real {
  background-color: inherit !important;
  justify-content: center;
}

#navbarSupportedContent, a.nav-link {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
}

a.nav-link:hover {
  color: black !important;
}

.navbar-nav > li {
  font-family: Martel;
  display: flex;
  padding: 0 10px;
}

#custom-navbar {
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  -webkit-transform: rotate(0deg); transform: rotate(0deg);
  -webkit-transition: 0.2s ease; transition: 0.2s ease;
}
.navbar-toggler .navbar-toggler-icon {
  -webkit-transform: rotate(90deg); transform: rotate(90deg);
  outline:none !important;
}

#nav-gen:focus {
  color: black !important;
  border-color: transparent;
  outline: none;
}

#nav-gen {
  stroke: #333;
  border-color: transparent;
}

.navbar-brand {
  font-family: "Open Sans";
  font-weight: bold;
  color: #222 !important;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding: 0 2%;
}

.intro {
  background-color: white;
  padding: 60px 0 0 0;
  cursor: context-menu;
}
